In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
import numpy as np
import datetime as dt
import missingno as msno

# Visualización
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.graph_objects as go
import pandas as pd
import pyodbc
from sqlalchemy import create_engine

In [ ]:
!pip install pyodbc pandas sqlalchemy

Requirement already satisfied: pyodbc in /usr/local/lib/python3.10/dist-packages (5.1.0)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.1.4)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.10/dist-packages (2.0.34)
Requirement already satisfied: numpy<2,>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy) (3.1.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

**1) Ver los parametros del dataset**

In [ ]:
df = pd.read_csv('/content/drive/Shareddrives/Analitica Trabajo/Colombianos.csv')

df.tail()

,País,Código ISO país,Oficina de registro,Grupo edad,Edad (años),Área Conocimiento,Sub Area Conocimiento,Nivel Académico,Estado civil,Género,Etnia de la persona,Estatura (CM),Localización,Cantidad de personas
788753,ALEMANIA,DEU,C. FRANKFURT,ADULTO,31,"ECONOMÍA, ADMINISTRACIÓN CONTADURIA Y AFINES",ADMINISTRACIÓN,PREGRADO - PROFESIONAL,SOLTERO,FEMENINO,OTRO,-1,"(51.165691, 10.451526)",2
788754,ESTADOS UNIDOS,USA,C. NEWARK,ADULTO MAYOR,62,"ECONOMÍA, ADMINISTRACIÓN CONTADURIA Y AFINES",ADMINISTRACIÓN,NO INDICA,CASADO,FEMENINO,OTRO,-1,"(37.09024, -95.712891)",14
788755,ESPAÑA,ESP,C. MADRID,ADULTO,46,NINGUNA,NINGUNA,PREGRADO - TÉCNICO PROFESIONAL,CASADO,FEMENINO,OTRO,163,"(40.463667, -3.74922)",1
788756,ESPAÑA,ESP,C. BARCELONA,ADULTO,41,MATEMÁTICAS Y CIENCIAS NATURALES,QUÍMICA Y AFINES,PREGRADO - TECNOLÓGICO,SOLTERO,FEMENINO,OTRO,-1,"(40.463667, -3.74922)",1
788757,CHILE,CHL,C. ANTOFAGASTA,ADULTO,51,NINGUNA,NINGUNA,BACHILLERATO,CASADO,FEMENINO,OTRO,-1,"(-35.675147, -71.542969)",2

**1. Normalización de la columna Localización**

In [ ]:
df[['Latitud', 'Longitud']] = df['Localización'].str.extract(r'\(([^,]+),\s([^)]+)\)')
df['Latitud'] = pd.to_numeric(df['Latitud'], errors='coerce')
df['Longitud'] = pd.to_numeric(df['Longitud'], errors='coerce')

In [ ]:
# Eliminar la columna original 'Localización'
df.drop('Localización', axis=1, inplace=True)

**2. Eliminar registros con valores nulos**

In [ ]:
# Verificar si hay registros nulos y eliminarlos
df.replace(-1, np.nan, inplace=True)  # Considerar -1 como NaN para estaturas
df.dropna(inplace=True)  # Eliminar filas con valores nulos

**3. Mostrar el DataFrame final después de la normalización y limpieza**

In [ ]:
print("\nDataFrame normalizado y sin valores nulos:")
print(df)

DataFrame normalizado y sin valores nulos:
               País Código ISO país   Oficina de registro    Grupo edad  \
1            ESPAÑA             ESP          C. BARCELONA        ADULTO
4       REINO UNIDO             GBR            C. LONDRES        ADULTO
9         VENEZUELA             VEN       C. PUERTO ORDAZ  ADULTO JOVEN
12        VENEZUELA             VEN            C. CARACAS  ADULTO MAYOR
16           ESPAÑA             ESP             C. MADRID  ADULTO JOVEN
...             ...             ...                   ...           ...
788732  EL SALVADOR             SLV       C. SAN SALVADOR  ADULTO MAYOR
788740       ESPAÑA             ESP  C. LAS PALMAS DE G.C        ADULTO
788742       ESPAÑA             ESP             C. MADRID        ADULTO
788749       ESPAÑA             ESP  C. LAS PALMAS DE G.C        ADULTO
788755       ESPAÑA             ESP             C. MADRID        ADULTO

        Edad (años)     Área Conocimiento Sub Area Conocimiento  \
1              36.0             NO INDICA             NO INDICA
4              51.0             NO INDICA             NO INDICA
9              22.0             NO INDICA             NO INDICA
12             87.0               NINGUNA               NINGUNA
16             27.0  CIENCIAS DE LA SALUD              MEDICINA
...             ...                   ...                   ...
788732         72.0             NO INDICA             NO INDICA
788740         56.0             NO INDICA             NO INDICA
788742         49.0               NINGUNA               NINGUNA
788749         42.0               NINGUNA               NINGUNA
788755         46.0               NINGUNA               NINGUNA

                       Nivel Académico Estado civil     Género  \
1                 POSTGRADO - MAESTRIA      SOLTERO   FEMENINO
4       PREGRADO - TÉCNICO PROFESIONAL      SOLTERO  MASCULINO
9                         BACHILLERATO      SOLTERO   FEMENINO
12                            PRIMARIA       CASADO   FEMENINO
16                        BACHILLERATO      SOLTERO  MASCULINO
...                                ...          ...        ...
788732                    BACHILLERATO        VIUDO   FEMENINO
788740                    BACHILLERATO       CASADO   FEMENINO
788742                    BACHILLERATO       CASADO  MASCULINO
788749                    BACHILLERATO      SOLTERO  MASCULINO
788755  PREGRADO - TÉCNICO PROFESIONAL       CASADO   FEMENINO

         Etnia de la persona  Estatura (CM)  Cantidad de personas    Latitud  \
1                       OTRO          165.0                     1  40.463667
4                    NINGUNA          169.0                     1  55.378051
9       SIN ETNIA REGISTRADA          135.0                     1   6.423750
12                   NINGUNA          157.0                     1   6.423750
16                   NINGUNA          182.0                     1  40.463667
...                      ...            ...                   ...        ...
788732               NINGUNA          150.0                     1  13.794185
788740  SIN ETNIA REGISTRADA          151.0                     1  40.463667
788742               NINGUNA          169.0                     2  40.463667
788749               NINGUNA          167.0                     1  40.463667
788755                  OTRO          163.0                     1  40.463667

         Longitud
1       -3.749220
4       -3.435973
9      -66.589730
12     -66.589730
16      -3.749220
...           ...
788732 -88.896530
788740  -3.749220
788742  -3.749220
788749  -3.749220
788755  -3.749220

[282107 rows x 15 columns]

**Crear índices en la base de datos SQL para optimizar consultas.**

In [ ]:
server = 'DESKTOP-9JC24GI'  # Cambia esto por tu servidor
database = 'colombiano'          # Nombre de tu base de datos
username = 'DESKTOP-9JC24GI\\PERSONAL'          # Tu usuario de SQL Server
password = ''       # Tu contraseña de SQL Server

# Usando pyodbc + sqlalchemy para conectarse a SQL Server
connection_string = f"mssql+pyodbc://{username}:{password}@{server}/{database}?driver=ODBC+Driver+17+for+SQL+Server"
engine = create_engine(connection_string)

# Paso 4: Crear la tabla en SQL Server (se ejecutará automáticamente si no existe)
# El método to_sql crea la tabla si no existe, y carga los datos
df.to_sql('personas', engine, if_exists='replace', index=False)

print("Datos cargados en la tabla 'personas' de la base de datos 'colombiano'")

DBAPIError: (pyodbc.Error) ('01000', "[01000] [unixODBC][Driver Manager]Can't open lib 'ODBC Driver 17 for SQL Server' : file not found (0) (SQLDriverConnect)")
(Background on this error at: https://sqlalche.me/e/20/dbapi)